<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447074922661-a8g8nb6t0bjanc9897hibqh1e5o1da7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447074922661-a8g8nb6t0bjanc9897hibqh1e5o1da7u</string>
	<key>API_KEY</key>
	<string>AIzaSyAs3d6rZpSJYF1v2PfTo9qOEKRxibavX6o</string>
	<key>GCM_SENDER_ID</key>
	<string>447074922661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tris.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>swiftchatapp-e5e01</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftchatapp-e5e01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447074922661:ios:8327b5d896921925735d4c</string>
</dict>
</plist>